<div class="container">
  <div class="row">
    <div class="title_cont">
      <h1>
        {{ title + ', del primo progetto "angolare"'}}
      </h1>
      <h1 [innerText]="secondTitle"> 
        <!-- {{ secondTitle }} -->
      </h1>
      
    </div>

    <!-- SECONDO COMPONENT  -->
    <app-secondo-comp></app-secondo-comp>


    <!-- TERZO COMPONENT  -->
    <app-terzo-comp></app-terzo-comp>

    <div class="route_cont">

      <h1>
        <a href="" [routerLink]="['/']">Home page</a>
      </h1>

      <h1>
        <a href="" [routerLink]="['/route']">Portami alla route che ospita il secondo component aggiuntivo</a>
      </h1>

    </div>

    

    <router-outlet></router-outlet>

  </div>
</div>
