<div class="secondo-comp">
    <h1>
        Secondo component
    </h1>
    <!-- <div class="ul_cont">
        <ul>
            <h1>
                Personaggi ottenuti per mezzo di un ciclo for:
            </h1>
            <li *ngFor="let Demons of characters">
                {{ Demons.nome }} {{ Demons.cognome }}
            </li>
        </ul>
    </div> -->
    <div class="cont">
        <h1 *ngIf="showMe">
           {{ parola }} 
        </h1>
        <button (click)="toggleParola()">Cliccami, sono un toggle</button>
    </div>
</div>